@import 'common/styles/variables.css';

$link-active: #fff;
$link-inactive: #999;

header {
    height: $nav-height;
    display: flex;
    flex-direction: row;
    padding: 13px 30px 0px 30px;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.65);

    .logo {
        width: 50%;

        a {
            color: $accent-main;
            text-decoration: none;
            font-weight: 600;
            font-size: 22px;
        }
    }
}

nav.navbar {
    width: 50%;
    display: flex;
    justify-content: flex-end;

    > a {
        color: $link-inactive;
        text-decoration: none;
        font-weight: 400;
        font-size: 16px;
        transition: color 0.3s;

        &.active {
            color: $link-active;
        }

        &:hover {
            color: $link-active;
        }

        .link-wrapper {
            display: inline-block;
            padding: 5px 17px;
        }
    }
}
