/* Container */

.container {
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 660px) {
    .container {
        max-width: 620px;
        width: 100%;
    }
}

@media (min-width: 660px) and (max-width: 860px) {
    .container {
        width: 620px;
    }
}

@media (min-width: 860px) and (max-width: 1060px) {
    .container {
        width: 820px;
    }
}

@media (min-width: 1060px) and (max-width: 1240px) {
    .container {
        width: 1000px;
    }
}

@media (min-width: 1240px) {
    .container {
        width: 1180px;
    }
}

/* Grid */

@media (max-width: 860px) {
    .col-wrapper {
        display: flex;
        flex-direction: column;
    }

    @for $i from 1 to 12 {
        .col-$(i) {
            width: 100%;
        }
    }
}

@media (min-width: 860px) {
    .col-wrapper {
        display: flex;
        flex-direction: row;
    }

    @for $i from 1 to 12 {
        .col-$(i) {
            width: calc( $i * 100% / 12);
        }
    }
}
